h1 {
  text-align: center;
  color: #ff8c00;
  font-weight: bold;
}

h2 {
  text-align: center;
  color: orange;
}

table {
  color: orange;
  text-align: center;
  font-size: 0.80em;
}

.profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

hr {
    display: block;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    border-color: orange;
}

.education {
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.contacts {
  color: black;
  font-size: 20;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25%;
  margin-right: 25%;
  padding-left: 10px;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 5%;
  padding-left: 10px;
}

.button {
  background-color: orange;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 85%;
  margin-right: 5%;
  padding-left: 10px;
}

a {
  color: orange;
}

.loc {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 25%;
}

.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: orange;
    color: white;
    text-align: center;
}
#slideshow {
    margin: 50px auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.boxed {
  border: 5px solid red ;
  background-color: orange;
  color: black;
  margin-left: 5%;
  margin-right: 5%;
}

.column {
  width: auto;
  padding: 5%;
  text-align: center;
}

.row {
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
}
