{% extends 'story04/template04.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <title>  {% block title %}About  {% endblock %}</title>

  </head>
  <body>
      {% block content %}
    <h1> about </h1>
    <hr color="orange" width="100" align="center" noshade>
    <br>
    <table style="width:100%">
      <tr>
        <th width = "80%">
          <div class="boxed">
            Nama saya Jeffrey. Saya lahir di Medan, Sumatera Utara pada tanggal 8 Desember 1998. Sebelum masuk Fasilkom UI, saya bersekolah di SMA Bunda Mulia School yang terletak di Jalan Lodan Raya No. 1, Jakarta Utara. Alasan saya masuk Fasilkom itu gara-gara saya suka hal-hal yang berkaitan dengan IT dan saya melihat bahwa peluang kerja dalam bidang IT sangat besar, maka dari itu saya memilih Fasilkom UI. Saat saya masuk Fasilkom, saya merasa bahwa kehidupan kuliah dan sekolah sangat berbeda. Di UI, saya belajar untuk lebih bisa mandiri dan dapat mengatur waktu dengan baik. Terutama dalam hal akademik, pelajaran di kuliah sangat berbeda dengan SMA.
          </div>
        </th>
        <th> <img src="{% static 'img/Profile Picture Jeffrey.jpg' %}" alt ="Jeffrey" width="175" align="center"> </th>
      </table>
      <br>

    {% endblock %}
  </body>
</html>
