{% extends 'story04/template04.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <title>{% block title %}Achievements {% endblock %}</title>

  </head>
  <body>
    {% block content %}
    <h1> achievements </h1>
    <hr color="orange" width="100" align="center" noshade>
    <br>

    <div id="slideshow">
     <div>
       <img src="{% static 'img/seamc1.jpg' %}" width="100%">
     </div>
     <div>
       <img src="{% static 'img/seamc2.jpg' %}" width="100%">
     </div>
  </div>


  <script>
  $("#slideshow > div:gt(0)").hide();

  setInterval(function() {
    $('#slideshow > div:first')
      .fadeOut(1000)
      .next()
      .fadeIn(1000)
      .end()
      .appendTo('#slideshow');
  },  3000);
 </script>

    <table class="contacts">
      <tr>
        <th> Terbaik di Matematika, Kimia, Fisika, dan Komputer saat SMA kelas 3</th>
      </tr>
      <tr>
        <th> Partisipasi OSN Matematika</th>
      </tr>
      <tr>
        <th> Partisipasi SEAMC 2014 & juara Buddy Group</th>
      </tr>
      <tr>
        <th> Partisipasi SEAMC 2013</th>
      </tr>
    </table>
      <br>
        {% endblock %}
  </body>
</html>
