{% extends 'story04/template04.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Contact{% endblock %}</title>

  </head>
  <body>
      {% block content %}
        <h1> contact </h1>
        <hr color="orange" width="100" align="center" noshade>
        <br>


              <table style="width:70%" class="contacts">
                <tr>
                  <th>name</th>
                  <th>Jeffrey</th>
                </tr>
                <tr>
                  <th>phone</th>
                  <th>08976500798</th>
                </tr>
                <tr>
                  <th>email</th>
                  <th>jeffreywong0812@gmail.com</th>
                  </tr>
                <tr>
                  <th>address</th>
                  <th>Jl. Pluit Putri 5 No. 11A, Jakarta Utara, DKI Jakarta</th>
                </tr>
              </table>

              <br>
              <br>
            <a href= "https://www.google.com/maps/place/Jl.+Pluit+Putri+No.5,+RT.21%2FRW.8,+Pluit,+Penjaringan,+Kota+Jkt+Utara,+Daerah+Khusus+Ibukota+Jakarta+14450/@-6.1239133,106.790058,17z/data=!3m1!4b1!4m5!3m4!1s0x2e6a1d92e2648f99:0x536633a508195e89!8m2!3d-6.1239186!4d106.792252">  <img src="{% static 'img/Pluit.PNG' %}" alt ="Address" class="loc" width="50%"> </a>
        <br>

        <h2> Send me a message! </h2>

        <form>
          <div class="form-group">
            <label for="formGroupExampleInput">Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Date</label>
            <input type="date" class="form-control" id="exampleFormControlInput1">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Subject</label>
            <input type="text" class="form-control" id="formGroupExampleInput2">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
      <div>
          <button type="submit" class="button">Submit</button>
        </div>
    </form>
    <br>
    <h2> <a href="guest-book.html"> Go to Guest Book </a> </h2>


      <br>
    {% endblock %}
  </body>
</html>
