{% extends 'story04/template04.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <title>{% block title %}Education{% endblock %}</title>

  </head>
  <body>
    {% block content %}
    <h1> education </h1>
    <hr color="orange" width="100" align="center" noshade>
    <br>

    <div id="slideshow">
     <div>
       <img src="{% static 'img/fasil.jpg' %}" width="100%">
     </div>
     <div>
       <img src="{% static 'img/sekolah.jpg' %}" width="100%">
     </div>
     <div>
       <img src="{% static 'img/Tkk.jpg' %}" width="100%">
     </div>
  </div>
  <script>
  $("#slideshow > div:gt(0)").hide();

setInterval(function() {
  $('#slideshow > div:first')
    .fadeOut(1000)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#slideshow');
}, 3000);
 </script>

    <br>

    <table style="width:100%" class="education">
      <tr>
        <th>Juli 2017 - sekarang</th>
        <th>S1 Ilmu Komputer Universitas Indonesia</a></th>
      </tr>
      <tr>
        <th>2014 - 2017</th>
        <th>SMA Bunda Mulia School</a></th>
      </tr>
      <tr>
        <th>2011 - 2014</th>
        <th>SMP Bunda Mulia School</a></th>
      </tr>
      <tr>
        <th>2005 - 2011</th>
        <th>SD Bunda Mulia School</a></th>
      </tr>
      <tr>
        <th>2004 - 2005</th>
        <th>TKK Bunda Mulia School</a></th>
      </tr>
      <tr>
        <th>2002 - 2004</th>
        <th>TKK Kalam Kudus</a></th>
      </tr>
    </table>
    <br>
        {% endblock %}
  </body>


</html>
