{% extends 'story04/template04.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Experiences {% endblock %}</title>

  </head>
  <body>
    {% block content %}
    <h1> Experiences </h1>
    <hr color="orange" width="100" align="center" noshade>
    <br>
    <img src="{% static 'img/raker.jpg' %}" width="100%">
    <br>
    <table class="contacts">
      <tr>
        <th> Staf perlengkapan Makrab KMBUI</th>
      </tr>
      <tr>
        <th> Staf Dekor Sosial Project Tarung</th>
      </tr>
      <tr>
        <th> Staf perlengkapan Makrab KMBUI</th>
      </tr>
      <tr>
        <th> Staf Website KMBUI</th>
      </tr>
      <tr>
        <th> Staf OSIS SMA</th>
      </tr>
    </table>
      <br>
    {% endblock %}
  </body>
</html>
