{% extends 'story04/template04.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <title>{% block title %}Guest Book{% endblock %}</title>

  </head>
  <body>
    {% block content %}
    <h1> Guest Book </h1>
    <hr color="orange" width="100" align="center" noshade>
    <br>

    <p> Empty for now! </p>

    <br>
    {% endblock %}
  </body>
</html>
