{% extends 'story04/template04.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Home {% endblock %}</title>
  </head>

  <body>
    {% block content %}
    <h1> Jeffrey </h1>
    <br>
    <img src="{% static 'img/Profile Picture Jeffrey.jpg' %}" alt ="Jeffrey" class="profile" width="220">
    <br>
    <h2> Hey! I am a professional programmer. <br> I make great programs. </h2>
    {% endblock %}
  </body>
</html>
