{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{% static 'css/styleStory3.css' %}" />
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
            {% block content %}
            {% endblock %}
  </body>
  <footer>
    <div class="row">
      <div class="column">
        <a href="{% url 'about' %}">about</a>
      </div>
      <div class="column">
        <a href="{% url 'experiences' %}">experiences</a>
      </div>
      <div class="column">
        <a href="{% url 'education' %}">education</a>
      </div>
      <div class="column">
        <a href="{% url 'achievements' %}">achievements</a>
      </div>
      <div class="column">
        <a href="{% url 'contact' %}">contact</a>
      </div>
      <div class="column">
        <a href="{% url 'guestbook' %}">guest book</a>
      </div>
    </div>

    <div class="footer">
      <p>copyright</p>
      <a href="{% url 'index' %}" style="color: black">back to home </a>
    </div>
  </footer>
</html>
